* {
    color:darkred;
    background-color:blanchedalmond;
    font-family: "Courier New", "Helvetica", sans-serif;

}

h1 {
    text-align: center;
}

img {
    align-content: center;
}

button, button a {
    background-color: black;
    color: black;
}

.gelb, .gelb a {
    background-color: yellow;
    color: darkred;
}

.braun, .braun a {
    background-color: brown;
    color: lightgray;
}

.reverse, .reverse a{
    background-color: darkred;
    color: blanchedalmond;
}

div {
    text-align: center;
}
menu.flexibel {
    display: flex;

}
menuitem {
    margin: 5px;
}

.rand {
    padding: 10px;
}