* {
    color:darkred;
    background-color:blanchedalmond;
    font-family: "Courier New", "Helvetica", sans-serif;

}
html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

img {
    align-content: center;
}

button, button a {
    background-color: olive;
    color: black;
}

.gelb, .gelb a {
    background-color: yellow;
    color: darkred;
}

.braun, .braun a {
    background-color: brown;
    color: lightgray;
}

.rot, .rot a {
    background-color: red;
}

.gruen, .gruen a {
    background-color: green;
    color: lightgray;
}

.lila, .lila a {
    background-color: purple;
    color: lightgray;
}

.blau, .blau a {
    background-color: blue;
    color: lightgray;
}

.orange, .orange a {
    background-color: orange;
    color: black;
}

.grau, .grau a {
    background-color: lightgray;
    color: black;
}

.reverse, .reverse a{
    background-color: darkred;
    color: blanchedalmond;
}

.flexibel {
    display: flex;
    flex-wrap: wrap;;
}

button {
    margin: 5px;
    display: flex;
    flex: 1 1 auto; /* = flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
    justify-content: center;
}

button > a {
    padding: 10px;
}